@import "normalize.css";
@import "utilities.css";
@import "variables.css";
@import "typography.css";
@import "media-queries.css";

body {
  background-color: var(--body-bg);
}

.imposter {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.btn {
  transition: background-color .2s cubic-bezier(.3,0,.5,1);
  padding: 0.5rem 1.1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 0.4rem;
}
.create-repo-btn {
  color: white;
  background-color: var(--primary-btn-bg);
  border:1px solid #1b1f2326;
  display: flex;
  align-items: center;
  margin-left: .8rem;
}
.create-repo-btn:hover {
  background-color: #2c974b;
}
.dropdown-btn {
  border: 1px solid rgba(21,31,35,.15);
  background-color: #fafbfc;
  color: #24292e;
  margin: 0 .2rem;
}
.dropdown-btn__caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
}
/*header navbar*/
.page-header {
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
  padding: 16px 32px;
}

.main-nav {
}

.main-nav__list {
  display: flex;
  align-items: center;
  margin: 0 -15px;
  list-style: none;
}

.main-nav__item {
  padding: 0 15px;
}

.main-nav__link {
  text-decoration: none;
  color: var(--color-header-text);
  font-weight: 600;
  white-space: nowrap;
}

.main-logo {
  fill: currentColor;
}
/*end navbar*/

/*sidebar*/
.sidebar {
  width: 25%;
}
.profile__info-list {
  display: flex;
  /*margin: 0 -10px;*/
}
.profile__info-link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}
.profile__info-icon {
  fill: currentColor;
  margin: 0 .2rem;
}
.profile__info-count {
  margin: 0 .2rem;
  color: var(--primary-text-color);
}
.profile__edit-btn {
  width: 100%;
  border: 1px solid rgba(21,31,35,.15);
  background-color: #fafbfc;
  margin: 1.2rem 0;
  color: #24292e;
}

.dropdown-btn:hover,
.profile__edit-btn:hover {
  background-color: #f3f4f6;
}
/*end sidebar*/

/*footer navbar */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-bg);
}
.footer-nav {
  border-top: 1px solid #ebedef;
  padding: 40px 0;
  margin: 40px auto 0;
}

.footer-nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*end footer navbar*/

.page-content {
  display: flex;

}

.input-group {
  border: 1px solid #4a4e52;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 3px 6px;
}

.input-group__input {
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
}

.input-group__input::placeholder {
  color: var(--color-search-placeholder);
}

.input-group__sufix {
  border: 1px solid #4a4e52;
  border-radius: 5px;
  width: 20px;
  text-align: center;
}

/*profile block*/

.profile__avatar {
  max-width: 100%;
  width: 260px;
  height: 260px;
  box-shadow: 0 0 0 1px #00000000;
  border: 1px solid #e1e4e8;
  border-radius: 50%;
}

.profile__name {
  /*color: ;*/
  line-height: 1.25;
  font-size: 1.9rem;
  padding-top:0.9rem;
}
.profile__nickname {
  color: var(--secondary-text-color);
  font-size: 1.4rem;
  line-height: 1.2;
  padding-bottom: 0.9rem;
}
.profile__bio {
  font-size: 1.1rem;
}
/*end profile block*/


/*tabs*/

.tabs {
}

.tabs__list {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: left;
  list-style: none;
}

.tabs__item {
  margin: 0;
  padding: 0 2rem;
  text-align: center;
  border-radius: 4px 4px 0 0;
}
.tabs__item--active {
  color: #24292e;
  font-weight: var(--fw-extra-bold);
  border-bottom: 2px solid #f9826c;
}
.tabs__item:hover:not(.tabs__item--active) {
  border-bottom: 2px solid #d1d5da;
}

.tabs__link {
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  border: none;
  text-decoration: none;
  text-shadow: none;
  color: #24292e;
}
.tabs__link-icon {
  margin-right: 0.2rem;
  fill: #959da5;
}
.tabs__item--active .tabs__link-icon {
  fill:currentColor;
}
.repositories-count {
  margin-left: .2rem;
  background-color: #d1d5da80;
  color: #24292e;
  min-width: 1.42rem;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 2em;
  padding: 0 2px;
  font-size: 0.9rem;
  line-height: 1.28rem;
  font-weight: var(--fw-regular);
}

/* Section styling (optional) */

.tabs__section {
  padding: 1rem 1.5rem;
  min-height: 8rem;
  border-radius: 0 0 4px 4px;
  text-shadow: none;
}

/*
Section styling (required)
Removes hidden sections from the keychain.
Only used when JavaScript is available.
*/
[role="tabpanel"][aria-hidden="true"] {
  /*display: none;*/
}

/*repository search bar*/

.repository-search-bar {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(21,31,35,.15);
}

.repository-search-bar__input {
  border: 1px solid rgba(21,31,35,.15);
  border-radius: 0.4rem;
  padding: 6px 12px;
}
.repository-search-bar__input::placeholder {
  color: var(--secondary-text-color);
}
/*end repository search bar*/
