@import "normalize.css";
@import "variables.css";
@import "typography.css";


.page-header {
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
  padding: 16px 32px;
}

.main-nav {
}

.main-nav__list {
  display: flex;
  align-items: center;
  margin: 0 -15px;
  list-style: none;
}

.main-nav__item {
  padding: 0 15px;
}

.main-nav__link {
  text-decoration: none;
  color: var(--color-header-text);
  font-weight: 600;
  white-space: nowrap;
}

.main-logo {
  fill: currentColor;
}

.input-group {
  border: 1px solid #4a4e52;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 3px 6px;
}

.input-group__input {
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
}

.input-group__input::placeholder {
  color: var(--color-search-placeholder);
}

.input-group__sufix {
  border: 1px solid #4a4e52;
  border-radius: 5px;
  width: 20px;
  text-align: center;
}
