
.container {
  max-width: 1280px;
  margin: 0 auto;
  display: block;
}

.main-nav__toggle-nav,
.main-nav__open-notifications-btn {
  color: var(--color-header-text);
  background-color: var(--color-header-bg);
  outline: none;
  border: 0;
}
.main-nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav__list {
  flex-direction: column;
}
.main-nav__item {
  width: 100%;
  padding: .5rem 0;
}
.main-nav__item:not(.no-border) {
  border-top: 1px solid #ffffff26;
}
.main-nav__item:not(.main-nav-item) {
  display: none;
}
.main-nav__list.expanded .main-nav__item:not(.main-nav-item) {
  display: flex;
}
.search-user-form {
  margin-bottom: .6rem;
  width: 100%;
}
.input-group {
  width: 100%;
}
.input-group__input{
  width: 100%;
}
.page-content {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.profile__bio {
  width: 100%;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}
.profile__picture {
  width: 20%;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.profile__status-badge {
  display: none;
}
.tabs {
  padding-top: 1.5rem;
  border-top: 1px solid rgba(21,31,35,.15);
}
.tabs__list {
  justify-content: space-between;
  overflow-x: scroll;
}
.tabs__item {
  padding: 0;
}
.repository-search-bar {
  display: none;
}
.repository__item {
  border: 1px solid rgba(21,31,35,.15);
  border-radius: 5px;
  margin: 2rem 0;
  padding: 1.5rem;
}
.footer__octocat-icon {
  display: none;
}
.footer-nav__item {
  padding-bottom: .5rem;
}
.padding-responsive {
  padding-left: 16px;
  padding-right: 16px;
}
.star-repo-btn {
  display: none;
}
@media screen and (min-width: 930px){
  .page-content {
    flex-direction: row;
  }
  .main-nav__toggle-nav,
  .main-nav__open-notifications-btn {
    display: none;
  }
  .main-nav__list {
    flex-direction: row;
  }
  .main-nav__item {
    padding: 0 15px;
    width: auto;
    display: flex;
  }
  .main-nav__item:not(.no-border) {
    border-top: none;
    display: flex;
  }
  .main-nav__item.no-border{
    display: flex;
  }
  .search-user-form {
    margin-bottom: 0;
    width: auto;
  }
  .input-group {
    width: auto;
  }
  .input-group__input{
    width: auto;
  }
  .profile {
    flex-direction: column;
  }
  .sidebar {
    width: 25%;
  }
  .profile__picture {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    display: block;
    position: relative;
  }
  .profile__status-badge {
    position: absolute;
    height: 12%;
    width: 12%;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #e1e4e8;
    bottom: 20%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tabs {
    border-top-width: 0;
    padding-top: 0;
  }
  .tabs__section {
    padding: 1rem 1.5rem;
  }
  .tabs__list {
    justify-content: left;
    overflow-x: hidden;
  }
  .tabs__item {
    padding: 0 2rem;
  }
  .repository-search-bar {
    display: flex;
  }
  .repository__item {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 5px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .star-repo-btn {
    display: flex;
  }
  .footer__octocat-icon {
    display: block;
  }
  .footer-nav__item {
    padding-bottom: 0;
  }
  .padding-responsive {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
