html, body {
  font-family: system-ui,
  -apple-system, /* Firefox supports this but not yet `system-ui` */ 'Segoe UI',
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji';
  font-size: 14px;
  color:var(--primary-text-color);
  line-height: 1.5;
}
