:root {
  /*colors*/
  --body-bg: #ffffff;

  --primary-text-color: #24292e;

  --secondary-text-color: #586069;

  --link-text-color: #0366d6;

  --primary-btn-bg:#2ea44f;

  --info-color: #f0f3f6;

  --error-color: #EF4444;

  --disabled-button-color: #c9c9c9;

  --color-header-bg: #24292e;

  --color-search-placeholder: #c8c9ca;
  /*--color-header-text: #ffffffb3;*/
  --color-header-text: #ffffff;

  /*typography*/

  /*Font Weight*/
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 600;
  --fw-extra-bold: 700;

  /*Fonts Sizes*/
  --fs-colossal: 4.5rem;
  --fs-giant: 3.5 rem;
  --fs-large: 2.5 rem;
  --fs-medium: 2 rem;
  --fs-default: 1.0 rem;
  --fs-small: 1.25 rem;
  --fs-smaller: 1.125 rem;
  --fs-extra-small: 0.85 rem;

}
